<!DOCTYPE html>
<html lang="en">
  <script type="module">
    import { createApp , reactive } from 'https://unpkg.com/petite-vue?module'

    const clickjacking = reactive({
      toggle: true
    })

    createApp({ 
      clickjacking,
    }).mount()
  </script>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Bootstrap demo
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  </head>
  <body v-scope>
    <div class="m-3">
      <div class="p-2" style="background-color: aquamarine">
        <h4>
          Tokopaedi
        </h4>
      </div>
      <hr class="border border-info" />

      <h5>
        Checkout
      </h5>
      <hr class="border border-info" />
      <div class="d-flex">
        <div>
          <img class="border border-2 shadow shadow-md border-dark rounded rounded-lg" src="/rx.jpg" style="max-width: 250px" />
        </div>
        <div class="mx-1">
          <div>
            <strong>
              GIGABYTE AMD RADEON RX 6600 EAGLE 8GB GDDR6 128-BIT
                            RX6600
            </strong>
            <div>
              <h4>
                Rp4.099.000
              </h4>
            </div>
          </div>
          <div>
            <h5>
              Qty: 1
            </h5>
          </div>
          <hr class="border border-dark" />

          <div>
            <a 
              href="/validpayment"
            >
              <button class="btn btn-sm btn-outline-success">
                Proceed to Payment       
              </button>
            </a>
          </div>
        </div>
      </div>
  
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
