<div>

  <div>
    <a href="/main-safe">
    <button>
      Main page, secured with X-Frame-Options: deny

    </button>
    </a>
  </div>

  <div>
    <a href="/main-unsafe">
    <button>
      Main page, unsecured

    </button>
    </a>
  </div>

  <div>
    <a href="/page-jacker">
    <button>
      Attacker page, loading the unsecured payment menu. Clickjacking happens here.

    </button>
    </a>
  </div>

  <div>
    <a href="/page-jacker-secured">
    <button>
      Attacker page, loading the secured payment menu. Clickjacking prevented here.

    </button>
    </a>
  </div>

  
  
  

</div>